# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies (i use a dev container for my dev stuff which is why I have /.devcontainer in here)
/.devcontainer 
/.github
/node_modules
# React Component Preview
previewConfig.json