.side-bar-logo{
  height: 128px;
  width: 128px;
  display: flex;
  margin: 0px auto 0px auto;
}
.NavBar {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 235px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
.NavBar ul{
  margin-left: 15px;
  margin-top: 150px;
  list-style-type: none;
  color: gray;
  font-weight: bold;
  margin-left: 40px;
}
.NavBar li{
  padding-bottom: 50px;
}
.NavBar a{
  transition: color 0.8s ease;
  font-size: 18px;
  text-decoration: none;
}
.NavBar a:visited{
  color: inherit;
}
.NavbarFooter{
  margin-top: auto;
  color: white;
  background-color: #1ADBA9;
  padding-bottom: 12px;
  border-bottom-right-radius: 20px;
  transition: height 0.3s ease-in-out;
  height: 70px;
  z-index: 1;
}
.NavbarFooter.expanded {
  height: 150px; /* expanded height */
}
.NavbarFooter .footer-profilePic{
  margin: 15px 15px 0px 15px;
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 12px;
}
.NavbarFooter h3{
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.NavbarFooter p{
  margin: 0px 0px;
  font-size: 12px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.NavBarIcons{
  margin-right: 20px;
  color: white;
  transform: scale(1.8);
  vertical-align: text-bottom;
  z-index: 1;
}
.NavBar .active a{
  color: white;
}

@media only screen and (max-width: 768px) {
  .NavBar {
    z-index: 10;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
  }

  .NavBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    width: 100%;
    height: 30px;
    padding: 0 10px; 
    margin-left: 0px;
  }

  .NavBar li {
    padding: 10px 0; 
  }

  .NavBar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px; 
    font-size: 18px;
  }

  .NavBarIcons {
    transform: scale(1);
    padding: 0px;
    margin: 0px;
  }

  .NavbarFooter {
    visibility: hidden;
  }

  .side-bar-logo {
    height: 80px;
    width: 80px;
    display: flex;
    margin: 0 auto; 
  }
}