.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
  margin-left: -20px;
  overflow-x: auto;
  max-width: 100vw;
}

.div2 { grid-area: 2 / 1 / 4 / 3;}
.div3 { grid-area: 2 / 3 / 4 / 4; z-index: 5;}
.div4 { grid-area: 4 / 3 / 6 / 4;}
.div5 { grid-area: 4 / 2 / 6 / 3;}
.div6 { grid-area: 4 / 1 / 6 / 2; display: flex; flex-direction: column; justify-content: space-between;} 
.div7 { grid-area: 1 / 5 / 6 / 6;}
.div8 { grid-area: 1 / 1 / 2 / 3; padding: 20px;}
.div9 { grid-area: 1 / 3 / 2 / 5;}

/* [HEADER PROPERTIES] */
.div8 h1 {
  color: #1ADBA9;
}

.div8 p {
  color: #8f8f8f;
}

/* Responsive stuff (this shit breaks when I develop on an ultrawide screen) */
@media screen and (min-width: 1921px) {
  .parent {
    grid-template-columns: repeat(5, 1fr); 
    justify-content: center; 
  }
}
