body.dashboard {
  margin-left: 275px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 40px;
  margin-left: 20px;
  overflow-x: auto;
  max-width: 100vw;
}

.div2 { grid-area: 2 / 1 / 4 / 3; width: 780px; } /* div2 for money earned widget */
.div3 { grid-area: 2 / 3 / 4 / 4; z-index: 5; width: 700px} /* div3 for recurring costs widget */
.div4 { grid-area: 4 / 3 / 6 / 4;} /* div4 for widget in progress */
.div5 { grid-area: 4 / 2 / 6 / 3; width: 400px;} /* div5 for FedWatch interest rate/Crypto price tracker */
.div6 { grid-area: 4 / 1 / 6 / 2; display: flex; flex-direction: column; justify-content: space-between;} /* div6 for stacked widgets (networth & savingsgoal) */
.div7 { grid-area: 1 / 5 / 6 / 6;} /* div7 for chat bot assistant window (this will be clicked to slide out div, implement later) */
.div8 { grid-area: 1 / 1 / 2 / 3;} /* div8 for Header */
.div9 { position: fixed; bottom: 20px; right: 20px; z-index: 6;} /* div9 for chat bot assistant button */
/* [HEADER PROPERTIES] */
.div8 h1 {
  color: #1ADBA9;
}

.div8 p {
  color: #8f8f8f;
}



/* Ultrawide fix*/
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5, 1fr));
    grid-template-rows: auto;
    grid-gap: 60px;
    row-gap: 20px;
    margin-bottom: -50px;
    margin-left: 200px;
    overflow-x: auto;
    max-width: 100vw;
  }

}


@media only screen and (max-width: 768px) {
  body.dashboard {
    margin-left: 0;
    padding-top: 200px;
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 10px;
    width: auto;
    overflow-x: hidden; 
  }

  .div2, .div3, .div4, .div5, .div6, .div7, .div8{
    grid-area: unset;
    padding: 8px;
    font-size: 12px;
    width: auto; 
    height: auto;
    overflow-x: hidden 
  }

  .div9 { width: auto;
  }

}
