body.settings{
    margin-left: 275px;
    overflow-x: auto;
}
.SettingsHeader h1 {
    padding-top: 14px;
    color: #1ADBA9;
    font-size: 40px;
    margin-bottom: 0px;
}
.button-layout{
    margin-left: 1300px;
}
.log-out-button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #651819;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.settingslayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    width: 1500px;
}
.left-column{
    color: white;
    font-weight: bold;
    height: 700px;
}
.account{
    background-color: #141516;
    border-radius: 25px;
    height: 50%;
    margin-bottom: 25px;
}
.profile-firstName{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    float: left;
}
.profile-lastName{
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    float: right;
}
.profile-email{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.settings-profilePic{
    height: 85px;
    width: 85px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 10px;
}
.account-edit-profile, .account-edit-save, .account-edit-cancel{
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    color: white;
    font-size: 18px;
    border: none;
    background-color: #109f7a;
}
.account-edit-profile{
    margin-left: 475px;
}
.account-edit-save{
    margin-left: 450px;
}
.account-edit-cancel{
    margin-left: 5px;
}
.account h2{
    margin-bottom: 0px;
}
.account h2, .general h2 {
    color: white;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 20px;
}
.linked-accounts-header{
    color: white;
    font-size: 24px;
    padding-left: 20px;
}
.linkedaccounts{
    overflow-y: auto;
    background-color: #141516;
    border-radius: 25px;
    height: 50%;
}
.plaid-button{
    margin-left: 150px;
    margin-top: 25px;
    height: 40px;
    border-radius: 15px;
    background-color: #109f7a;
    cursor: pointer;
    align-items: center;
    color: white;
    font-size: 20px;
}
.plaid-button img{
    width: 40px;
    height: 40px;
    filter: invert(1);
}
.linkedBankAccounts{
    padding-top: 25px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    padding-left: 25px;
}
.account-details{
    padding: 10px;
    border-radius: 50px;
    background-color: #2d2d2e;
    width: 200px;
}
.remove-bank{
    color: rgb(103, 1, 1);
    transform: scale(1.3);
    padding-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.remove-bank:hover{
    color: red;
}
/*Styling for pop up confirmation */
.popup-content {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    background-color: #26292B;  
    width: 50%;  
    padding: 10px;
    border-radius: 50px;
}
.popup-overlay {  
    background: rgba(0, 0, 0, 0.7);
}
.pop-up-button-no, .pop-up-button-yes{
    border: none;
    border-radius: 15px;
    font-size: 20px;
    width: 100px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
.pop-up-button-yes:hover{
    background: red;
}
.pop-up-button-no:hover{
    background: #1ADBA9;
}
.pop-up-button-no:focus, .pop-up-button-yes:focus {
    outline: 0;
}
.general{
    background-color: #141516;
    border-radius: 25px;
    height: 725px;
}
.general ul{
    color: white;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}
.general li{
    padding: 30px;
}
.notifications span{
    color: white;
    font-weight: bold;
    margin: 50px;
}
.notification-selection-options{
    display: flex;
    gap: 250px;
}