/* Styling for all Buttons, Text, Lists on Settings Page */
body.settings{
    margin-left: 275px;
    overflow-x: auto;
}
.SettingsHeader h1 {
    padding-top: 14px;
    color: #1ADBA9;
    font-size: 40px;
    margin-bottom: 0px;
}
.button-layout{
    margin-left: 1300px;
}
.log-out-button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #651819;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.settingslayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    width: 1500px;
}
.left-column{
    color: white;
    font-weight: bold;
    height: 700px;
}
.account{
    background-color: #141516;
    border-radius: 25px;
    height: 50%;
    margin-bottom: 25px;
}
.profile-firstName{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    float: left;
}
.profile-lastName{
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    float: right;
}
.profile-email{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.settings-profilePic{
    height: 85px;
    width: 85px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 10px;
}
.account-edit-profile, .account-edit-save, .account-edit-cancel{
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    color: white;
    font-size: 18px;
    border: none;
    background-color: #109f7a;
}
.account-edit-profile{
    margin-left: 475px;
}
.account-edit-save{
    margin-left: 450px;
}
.account-edit-cancel{
    margin-left: 5px;
}
.account h2{
    margin-bottom: 0px;
}
.account h2, .general h2 {
    color: white;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 20px;
}
.linked-accounts-header{
    color: white;
    font-size: 24px;
    padding-left: 20px;
}
.linkedaccounts{
    overflow-y: auto;
    background-color: #141516;
    border-radius: 25px;
    height: 50%;
}
.plaid-button{
    margin-left: 150px;
    margin-top: 25px;
    height: 40px;
    border-radius: 15px;
    background-color: #109f7a;
    cursor: pointer;
    align-items: center;
    color: white;
    font-size: 20px;
}
.plaid-button img{
    width: 40px;
    height: 40px;
    filter: invert(1);
}
.linkedBankAccounts{
    padding-top: 25px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    padding-left: 25px;
}
.account-details{
    padding: 10px;
    border-radius: 50px;
    background-color: #2d2d2e;
    width: 200px;
}
.remove-bank{
    color: rgb(103, 1, 1);
    transform: scale(1.3);
    padding-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.remove-bank:hover{
    color: red;
}
/*Styling for pop up confirmation */
.popup-content {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    background-color: #26292B;  
    width: 50%;  
    padding: 10px;
    border-radius: 50px;
}
.popup-overlay {  
    background: rgba(0, 0, 0, 0.7);
}
.pop-up-button-no, .pop-up-button-yes{
    border: none;
    border-radius: 15px;
    font-size: 20px;
    width: 100px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
.pop-up-button-yes:hover{
    background: red;
}
.pop-up-button-no:hover{
    background: #1ADBA9;
}
.pop-up-button-no:focus, .pop-up-button-yes:focus {
    outline: 0;
}
.general{
    background-color: #141516;
    border-radius: 25px;
    height: 725px;
}
.general ul{
    color: white;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}
.general li{
    display: flex;
    gap: 8rem;
    padding: 30px;
    
}
.notifications span{
    color: white;
    font-weight: bold;
    margin: 50px;
}
.notification-selection-options{
    display: flex;
    gap: 280px;
}
.input-email-phone-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-email-phone{
    width: 250px;
    text-align: center;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
}
.submit-email-phone{
    cursor: pointer;
    width: 100px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #1ADBA9;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {

    /* GENERAL PAGE LAYOUT OVERRIDE */
    body.settings {
        margin-left: 0;
        padding-top: 100px;
    }

    .settingslayout {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: auto;
        row-gap: 165px;
    }

    .button-layout {
        display: flex;
        justify-content: center; 
        margin: 20px 0; 
    }

    .log-out-button {
        width: 150px;
        height: 35px;
        font-size: 16px;
    }

    /* PROFILE WIDGET OVERRIDE */
    .account, .linkedaccounts, .general, .left-column, .right-column {
        padding: 15px;
        font-size: 14px;
    }
    .account{
        height: fit-content;
    }
    .account h2 {
        flex-direction: column; 
        align-items: flex-start; 
        
    }
    .account-edit-save{
        margin-left: 0px;
    }
    .account-edit-profile {
        margin-left: 1rem;
    }

    .SettingsHeader h1 {
        visibility: hidden;
    }

    /* Ensure firstName, lastName, and email fields stack on top of each other */
    .profile-firstName, .profile-lastName {
        display: flex;
        flex-direction: column; 
        width: 100%; 
        margin: 10px 0; 
    }

    .profile-email input, .profile-email {
        width: 100%; 
        max-width: 100%; 
        box-sizing: border-box; 
    }

    .profile-email label, .profile-email span {
        text-align: left;
        width: 100%; 
        display: block; 
    }
    
    .account-details{
        display: inline-block;
        width: auto;
    }
    .plaid-button{
        font-size: 15px;
        margin-left: 0px;
        height: 50px; 
        width: 100%; 

    }

    .account-edit-profile, .account-edit-save, .account-edit-cancel {
        font-size: 16px;
    }

    .general ul{
        color: white;
        list-style: none;
        font-weight: bold;
        font-size: 18px;
    }
    .general li{
        padding: 0px;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        width: 100%;
    }

    .notifications span{
        width: 100%;
    }
    .notification-selection-options {
        display: flex;
        flex-direction: column; 
        align-items: stretch; 
        gap: 10px; 
    }
}

/* Settings.css */
@keyframes pulsate {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.7);
    }
    70% {
      transform: scale(1.05);
      box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
    }
  }
  
  .pulsate {
    animation: pulsate 2s infinite;
    pointer-events: none;
  }