.sign-up-page-logo{
    height: 168px;
    width: 168px;
    margin: auto;
    display: flex;
}
.sign-in-box{
    color: white;
    background: linear-gradient(#189172, #26292B);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 65vh;
    border-radius: 30px;
}
.sign-in-box h2{
    font-size: 50px;
    margin: 0px;
    padding-top: 50px;
}
.sign-up-prompt{
    padding-top: 10px;
    padding-bottom: 50px;
}
.sign-up-button{
    display: flex;
    flex-direction: column;
    background-color: #0069d5;
    border: none;
    border-radius: 50px;
    width: 325px;
    height: 75px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
}
.sign-up-text-box{
    margin: auto;
    border-radius: 10px;
    width: 50%;
    height: 25%;
    text-align: center;
}
.or{
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0px;
}
.sign-in-button{
    background-color: #1adba9;
    border: none;
    border-radius: 50px;
    width: 325px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.sign-up-button:hover, .sign-in-button:hover{
    cursor: pointer;
}
.Footer{
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75vw;
}
.Footer li{
    display: inline-block;
    font-weight: bold;
}
.Footer a{
    text-decoration: none;
    padding-right: 50px;
}
.Footer span{
    margin-top: 20px;
    color: #3e3f40;
    font-weight: bold;
    font-size: 14px;
}
.Footer a:visited{
    color: inherit;
}
